<div class="container mt-5">
    <h2 class="mb-3">Liste des ingrédients (admin)</h2>
    <div class="table-container">
        <table class="table">
            <tbody>
                <tr>
                    <td>Image ingrédient</td>
                    <td>Description ingrédient</td>
                    <td class="action-buttons">
                        <button class="btn btn-primary btn-sm">Consulter</button>
                        <button class="btn btn-warning btn-sm">Modifier</button>
                        <button class="btn btn-danger btn-sm" data-bs-toggle="modal"
                            data-bs-target="#deleteModal">Supprimer</button>
                    </td>
                </tr>
                <tr>
                    <td>Image ingrédient</td>
                    <td>Description ingrédient</td>
                    <td class="action-buttons">
                        <button class="btn btn-primary btn-sm">Consulter</button>
                        <button class="btn btn-warning btn-sm">Modifier</button>
                        <button class="btn btn-danger btn-sm" data-bs-toggle="modal"
                            data-bs-target="#deleteModal">Supprimer</button>
                    </td>
                </tr>
                <tr>
                    <td>Image ingrédient</td>
                    <td>Description ingrédient</td>
                    <td class="action-buttons">
                        <button class="btn btn-primary btn-sm">Consulter</button>
                        <button class="btn btn-warning btn-sm">Modifier</button>
                        <button class="btn btn-danger btn-sm" data-bs-toggle="modal"
                            data-bs-target="#deleteModal">Supprimer</button>
                    </td>
                </tr>
                <tr>
                    <td>Image ingrédient</td>
                    <td>Description ingrédient</td>
                    <td class="action-buttons">
                        <button class="btn btn-primary btn-sm">Consulter</button>
                        <button class="btn btn-warning btn-sm">Modifier</button>
                        <button class="btn btn-danger btn-sm" data-bs-toggle="modal"
                            data-bs-target="#deleteModal">Supprimer</button>
                    </td>
                </tr>
                <tr>
                    <td>Image ingrédient</td>
                    <td>Description ingrédient</td>
                    <td class="action-buttons">
                        <button class="btn btn-primary btn-sm">Consulter</button>
                        <button class="btn btn-warning btn-sm">Modifier</button>
                        <button class="btn btn-danger btn-sm" data-bs-toggle="modal"
                            data-bs-target="#deleteModal">Supprimer</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="mt-3">
        <button type="submit" class="btn btn-violet">Ajouter un ingrédient</button>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirmer la suppression</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Voulez-vous supprimer cet utilisateur ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-confirm" data-bs-dismiss="modal">Confirmer</button>
                <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>
<div class="form-inscription">
    <div class="raw">
        <label class="label-corpsGras" for="corpsGrasSelect">Nom corps gras:</label>
        <input type="text" class="calc-input" value="nom">
    </div>
    <div class="raw">
        <label class="label-corpsGras" for="corpsGrasSelect">Iode:</label>
        <input type="text" class="calc-input" value="valeur">
    </div>
    <div class="raw">
        <label class="label-corpsGras" for="corpsGrasSelect">I.N.S:</label>
        <input type="text" class="calc-input" value="valeur">
    </div>
    <div class="raw">
        <label class="label-corpsGras" for="corpsGrasSelect">Douceur:</label>
        <input type="text" class="calc-input" value="valeur">
    </div>
    <div class="raw">
        <label class="label-corpsGras" for="corpsGrasSelect">Lavant:</label>
        <input type="text" class="calc-input" value="valeur">
    </div>
    <div class="raw">
        <label class="label-corpsGras" for="corpsGrasSelect">Dureté:</label>
        <input type="text" class="calc-input" value="valeur">
    </div>
    <div class="raw">
        <label class="label-corpsGras" for="corpsGrasSelect">Solubilité:</label>
        <input type="text" class="calc-input" value="valeur">
    </div>
    <div class="raw">
        <label class="label-corpsGras" for="corpsGrasSelect">Séchage:</label>
        <input type="text" class="calc-input" value="valeur">
    </div>
    <div class="mt-3">
        <button type="submit" class="btn btn-violet">Ajouter un ingrédient</button>
    </div>
</div>
<div class="form-inscription">
    <div class="raw">
        <label class="label-corpsGras" for="corpsGrasSelect">Nom corps gras:</label>
        <input type="text" class="calc-input" value="nom">
    </div>
    <div class="raw">
        <label class="label-corpsGras" for="corpsGrasSelect">Iode:</label>
        <input type="text" class="calc-input" value="valeur">
    </div>
    <div class="raw">
        <label class="label-corpsGras" for="corpsGrasSelect">I.N.S:</label>
        <input type="text" class="calc-input" value="valeur">
    </div>
    <div class="raw">
        <label class="label-corpsGras" for="corpsGrasSelect">Douceur:</label>
        <input type="text" class="calc-input" value="valeur">
    </div>
    <div class="raw">
        <label class="label-corpsGras" for="corpsGrasSelect">Lavant:</label>
        <input type="text" class="calc-input" value="valeur">
    </div>
    <div class="raw">
        <label class="label-corpsGras" for="corpsGrasSelect">Dureté:</label>
        <input type="text" class="calc-input" value="valeur">
    </div>
    <div class="raw">
        <label class="label-corpsGras" for="corpsGrasSelect">Solubilité:</label>
        <input type="text" class="calc-input" value="valeur">
    </div>
    <div class="raw">
        <label class="label-corpsGras" for="corpsGrasSelect">Séchage:</label>
        <input type="text" class="calc-input" value="valeur">
    </div>
    <div class="mt-3">
        <button type="submit" class="btn btn-violet">Modifier l'ingrédient</button>
    </div>
</div>