<main>
    <div class="form-inscription">
        <div class="table-container">
            <table class="table">
                <thead>
                    <tr>
                        <th>Corps gras</th>
                        <th>iode</th>
                        <th>I.N.S</th>
                        <th>Douceur</th>
                        <th>Lavant</th>
                        <th>Dureré</th>
                        <th>Solubilité</th>
                        <th>Séchage</th>
                    </tr>

                </thead>
                <tbody>
                    <tr>
                        <td>Nom Corps Gras</td>
                        <td>0.75</td>
                        <td>1.1</td>
                        <td>1.1</td>
                        <td>1.1</td>
                        <td>1.1</td>
                        <td>1.1</td>
                        <td>1.1</td>
                    </tr>
                    <tr>
                        <td>Nom Corps Gras</td>
                        <td>0.75</td>
                        <td>1.1</td>
                        <td>1.1</td>
                        <td>1.1</td>
                        <td>1.1</td>
                        <td>1.1</td>
                        <td>1.1</td>
                    </tr>
                    <tr>
                        <td>Nom Corps Gras</td>
                        <td>0.75</td>
                        <td>1.1</td>
                        <td>1.1</td>
                        <td>1.1</td>
                        <td>1.1</td>
                        <td>1.1</td>
                        <td>1.1</td>
                    </tr>
                    <tr>
                        <td>Nom Corps Gras</td>
                        <td>0.75</td>
                        <td>1.1</td>
                        <td>1.1</td>
                        <td>1.1</td>
                        <td>1.1</td>
                        <td>1.1</td>
                        <td>1.1</td>
                    </tr>
                    <tr>
                        <td>Nom Corps Gras</td>
                        <td>0.75</td>
                        <td>1.1</td>
                        <td>1.1</td>
                        <td>1.1</td>
                        <td>1.1</td>
                        <td>1.1</td>
                        <td>1.1</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</main>